@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";

.productsList {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding-top: 5rem;

  &-content {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap into multiple rows */
    justify-content: center;
    max-width: 1400px;
    width: 100%;

    &__row {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 1rem;
      @include bk.mobile {
        gap: 0;
      }
      @include bk.tablet {
        gap: 0;
      }
      @include bk.desktop {
        gap: 0.85rem;
      }
      @include bk.bigScreen {
        gap: 1rem;
      }
      @include bk.wideScreen {
        gap: 1.25rem;
      }
    }
    &__card {
      // &:nth-child(2) {
      //   @include bk.mobile {
      //     display: none;
      //   }
      // }
    }
  }
}
.addStyleForTwo {
  gap: 1.25rem !important;
  padding: 0rem 1.25rem;
  width: calc(100% - 2.5rem);
}
