@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";

.service {
  display: flex;
  justify-content: center;
  padding: 100px 0px;

  &-container {
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 200px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__video {
      width: 720px;
    }
    &__header {
      font-weight: 500;
      margin-bottom: 10px;
    }
    &__title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      font-size: 18px;
      color: #666;
    }
    &__checkmark {
      width: 24px;
      height: 24px;
    }
    &__desc {
      font-size: 18px;
      font-weight: 300;
      color: gray;
      line-height: 28px;
      letter-spacing: 1px;
    }
  }
}
