// $primaryCl: #005c5c;
$primaryCl: #436971;
$secondaryAccentCl: #fa7711;
$accentCl: #e1b045;
$buttons: #007bff;
$white: #ffffff;
$text: #000409;
$sectionBg: #d8e1f0;
$gray: rgb(187, 188, 190);
$darkGray: gray;
$lighterBg: rgb(78 170 127 / 13%);
