@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";
@use "./src/styles/variables" as var;

.home {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  &-sectionTitle {
    font-size: 2rem;
    color: cl.$primaryCl;
    @include bk.mobile {
      padding-left: 1rem;
    }
    @include bk.tablet {
      padding-left: 1.5rem;
    }
    @include bk.desktop {
      width: calc(100% - 4rem);
      padding-left: 2rem;
    }
    @include bk.bigScreen {
      width: calc(100% - 6rem);
      padding-left: 2.5rem;
    }
    @include bk.wideScreen {
      width: calc(100% - 6rem);
      padding-left: 3rem;
    }
  }
}
