@use "./src/styles/_color" as cl;
@use "./src/styles/_breakpoints" as bk;
@use "./src/styles/_global";
@use "./src/styles/_variables";

.add {
  display: flex;
  justify-content: center;
  margin: auto;
  &-container {
    padding: 50px 0px;
    max-width: 1400px;
    width: 100%;
    @include bk.mobile {
      padding: 0rem 1.25rem;
      width: calc(100% - 2.5rem);
    }
    @include bk.tablet {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.desktop {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.bigScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }
    @include bk.wideScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }

    h1 {
      width: 100%;
      margin-bottom: 30px;
      color: gray;
      font-weight: 300;
    }
  }

  &__sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @include bk.mobile {
      flex-direction: column-reverse;
    }

    &__infoContent {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    label {
      color: gray;
      font-size: 18px;
      margin-bottom: 5px;
    }

    &__info,
    &__details {
      flex: 1;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      input,
      select,
      textarea {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        border: none;
        padding: 10px 20px;
        color: white;
        font-weight: 500;
        font-size: 16px;
        background-color: cl.$accentCl;
        cursor: pointer;
        width: 100%;
        &:hover {
          background-color: cl.$primaryCl;
        }
      }
    }
  }
}

select:focus {
  outline: none;
  border-color: #1dbf73;
}

select:hover {
  border-color: #555;
}
