@use "./src/styles/_color" as cl;
@use "./src/styles/_breakpoints" as bk;
@use "./src/styles/_global";
@use "./src/styles/_variables";
.add {
  display: flex;
  justify-content: center;

  &-container {
    padding: 50px 0px;
    max-width: 1400px;
    width: 100%;
    @include bk.mobile {
      padding: 0rem 1.25rem;
      width: calc(100% - 2.5rem);
    }
    @include bk.tablet {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.desktop {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.bigScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }
    @include bk.wideScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }

    h1 {
      width: max-content;
      margin-bottom: 30px;
      color: gray;
      font-weight: 300;
    }
  }
  &__sections {
    display: flex;
    justify-content: space-between;
    gap: 100px;

    label {
      color: gray;
      font-size: 18px;
    }

    &__info,
    &__details {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;

      input,
      select,
      textarea {
        padding: 20px;
      }

      button {
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: #1dbf73;
        cursor: pointer;
      }
    }
  }
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

/* Style when select is focused */
select:focus {
  outline: none;
  border-color: #1dbf73; /* Example color for focus */
}

/* Style when select is hovered */
select:hover {
  border-color: #555; /* Example color for hover */
}
