@use "./src/styles/_color" as cl;
@use "./src/styles/_breakpoints" as bk;
@use "./src/styles/_global";
@use "./src/styles/_variables";

.card {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ccc;
  border-radius: 16px;
  min-width: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;

  &-wrapper {
    padding: 0rem 2rem;
    width: calc(100% - 4rem);
    max-width: 1400px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include bk.mobile {
      padding: 0rem 1.25rem;
      width: calc(100% - 2.5rem);
      gap: 1rem;
      padding-bottom: 1rem;
    }
    @include bk.tablet {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
      gap: 1.5rem;
      padding-bottom: 1.5rem;
    }
    @include bk.desktop {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
      gap: 2rem;
      padding-bottom: 2rem;
    }
    @include bk.bigScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
      gap: 2.5rem;
      padding-bottom: 2.5rem;
    }
    @include bk.wideScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
      gap: 3rem;
      padding-bottom: 3rem;
    }
  }

  &:nth-child(even) {
    background-color: cl.$lighterBg;
    flex-direction: row-reverse;
  }

  &-pic {
    height: 22rem;
    overflow: hidden;
    width: 40%;
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
    width: 60%;
    @include bk.mobile {
      padding: 0 1.5rem;
      gap: 0;
    }
    @include bk.tablet {
      padding: 0 1.5rem;
      gap: 0;
    }
    @include bk.desktop {
      padding: 0 2rem;
    }
    @include bk.bigScreen {
      padding: 0 2.5rem;
    }
    @include bk.wideScreen {
      padding: 0 3rem;
    }
    &__odd {
      display: flex;
      align-items: end;
    }

    &__header {
      font-size: 1.6rem;

      @include bk.mobile {
        font-size: 1.3rem;
        margin-bottom: 0.69rem;
      }
      @include bk.tablet {
        font-size: 1.45rem;
        margin-bottom: 0.89rem;
      }
    }
    &__upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__price {
        font-weight: bold;
        color: cl.$buttons;
        gap: 1px;
      }
      &__txt {
        font-size: 1.2rem;
        display: flex;
        gap: 0.1rem;
        @include bk.mobile {
          font-size: 0.78rem;
        }
      }
    }
    &__middle {
      font-size: 0.75rem;
      line-height: 1.5rem;
      @include bk.mobile {
        margin: 0.69rem 0;
      }
      @include bk.tablet {
        margin: 0.89rem 0;
      }
      &__odd {
        text-align: end;
      }

      @include bk.mobile {
        font-size: 0.75rem;
        line-height: 1.5rem;
      }
      @include bk.tablet {
        font-size: 0.95rem;
        line-height: 1.5rem;
      }
      @include bk.desktop {
        font-size: 1.15rem;
        line-height: 1.85rem;
      }
      @include bk.bigScreen {
        font-size: 1.25rem;
        line-height: 2rem;
      }
      @include bk.wideScreen {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
    &__bottom {
      font-size: 12px;
      padding-right: 1rem;
      line-height: 1.5rem;
      border-radius: 20px;
      display: flex;
      gap: 1rem;
      margin: auto;
      width: 100%;
      @include bk.mobile {
        gap: 0.5rem;
        font-size: 0.5rem;
        flex-wrap: wrap;
      }
      &__odd {
        display: flex;
        justify-content: end;
      }

      &__item {
        border: 1px solid cl.$buttons;
        padding: 0 10px;
        color: cl.$buttons;
        border-radius: 1rem;
        @include bk.mobile {
          padding: 0 6px;
        }
      }
    }
  }
  &__btn {
    padding: 8px 16px;
    border: none;
    width: 100%;
    border-radius: 4px;
    background-color: cl.$accentCl;
    color: #fff;
    font-size: 14px;
    margin-top: 0.89rem;
    @include bk.mobile {
      margin-top: 0.69rem;
    }
    @include bk.tablet {
      margin-top: 0.89rem;
    }
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: cl.$primaryCl;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
