@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";

.serviceDark {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  background-color: cl.$primaryCl;
  max-width: 1400px;
  margin: auto;

  &-container {
    width: 1400px;
    display: flex;
    align-items: center;

    @include bk.mobile {
      padding: 0rem 1.25rem;
      width: calc(100% - 2.5rem);
      flex-direction: column;
    }
    @include bk.tablet {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.desktop {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.bigScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }
    @include bk.wideScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;

    &:first-child {
      flex: 2;
    }
    &:last-child {
      flex: 3;
    }
  }
  &__header {
    color: white !important;
  }
  &__sitename {
    align-items: flex-start;
    font-family: "Permanent Marker";
  }
  i {
    font-weight: 300;
  }

  &__text {
    margin-bottom: 20px;
    color: white !important;
    line-height: 1.5rem;
  }

  &__title {
    color: white !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    align-items: center;
    display: flex;
    gap: 10px;
  }

  &__btn {
    background-color: cl.$accentCl;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    object-fit: contain;
  }
  &__img {
    width: 70%;
    &Box {
      display: flex;
      align-items: center;
    }
  }
}
