@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";

.featured {
  display: flex;
  justify-content: center;
  color: cl.$white;
  position: relative;
  overflow: hidden;
  background-color: cl.$darkGray;
  background-image: url("/img/StrathconaProvincialPark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 32rem;
  @include bk.tablet {
    height: 34rem;
  }
  @include bk.desktop {
    height: 35rem;
  }
  @include bk.bigScreen {
    height: 42rem;
  }
  @include bk.wideScreen {
    height: 45rem;
  }

  &::before,
  &::after {
    content: "";
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(89, 89, 89, 0) 65%,
      rgb(0, 0, 0) 100%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    opacity: 0.7;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    width: 100%;
    padding: 20px;

    @include bk.desktop {
      padding: 15px;
    }

    @include bk.tablet {
      padding: 10px;
    }

    @include bk.mobile {
      padding: 5px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__header {
      font-size: 3rem;

      // Responsive font-size adjustments
      @include bk.desktop {
        font-size: 2.5rem;
      }

      @include bk.tablet {
        font-size: 2rem;
      }
    }

    &__point {
      font-style: italic;
      font-weight: 300;
    }

    &__search {
      background-color: cl.$white;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      &-input {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      &-img {
        width: 20px;
        height: 20px;
        margin: 10px;
      }
      &-textarea {
        border: none;
        outline: none;

        &::placeholder {
          color: gray;
        }
      }
      &-btn {
        width: 120px;
        height: 50px;
        border: none;
        background-color: cl.$accentCl;
        color: cl.$white;
        align-self: flex-end;
        cursor: pointer;
      }
    }
  }

  &__popular {
    display: flex;
    align-items: center;
    gap: 10px;

    &txt {
      width: max-content;
    }

    &__category {
      width: max-content;
      color: cl.$white;
      border: 1px solid cl.$white;
      padding: 5px 10px;
      border-radius: 20px;
      background-color: transparent;
      font-size: 14px;
    }
  }

  &__right {
    height: 100%;
    &__pic {
      height: 100%;
      object-fit: contain;
    }
  }
}
