@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cl.$white;
  color: cl.$primaryCl;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  max-width: 1400px;
  margin: auto;
  &Active {
    background-color: cl.$primaryCl;
    color: cl.$accentCl;
    // transition: 2.5s all ease-in-out;
    width: 100%;

    button {
      background-color: cl.$white !important;
      color: cl.$accentCl !important;
      border: 1px solid cl.$accentCl !important;
      &:hover {
        background-color: cl.$accentCl !important;
        border-color: cl.$accentCl !important;
        color: cl.$white !important;
      }
    }
  }
  &-user {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    position: relative;
    &__initial {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      background-color: cl.$accentCl;
    }
    // &__name {
    // }
    &__options {
      position: absolute;
      top: 3.125rem;
      right: 0;
      padding: 1.25rem;
      background-color: cl.$accentCl;
      border-radius: 10px;
      z-index: 999;
      border: 1px solid lightgrey;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 300;
      color: cl.$text;
      width: 100%;
      &Link,
      &Link:visited {
        color: cl.$white;
        text-decoration: none;
      }
    }
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bk.mobile {
      padding: 2rem 1.25rem;
      width: calc(100% - 2.5rem);
    }
    @include bk.tablet {
      padding: 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.desktop {
      padding: 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.bigScreen {
      padding: 2rem 3rem;
      width: calc(100% - 6rem);
    }
    @include bk.wideScreen {
      padding: 2rem 3rem;
      width: calc(100% - 6rem);
    }
    width: 1400px;
    margin: 0 auto;
    &Active {
      @include bk.mobile {
        padding: 2rem 1.25rem;
        width: calc(100% - 2.5rem);
      }
      @include bk.tablet {
        padding: 2rem;
        width: calc(100% - 4rem);
      }
      @include bk.desktop {
        padding: 2rem;
        width: calc(100% - 4rem);
      }
      @include bk.bigScreen {
        padding: 2rem 3rem;
        width: calc(100% - 6rem);
      }
      @include bk.wideScreen {
        padding: 2rem 3rem;
        width: calc(100% - 6rem);
      }
    }
    &Logo {
      font-size: 2.125rem;
      font-weight: bold;
      &__link {
        text-decoration: none;
        color: cl.$primaryCl;
        &:visited {
          @extend .nav-topLogo__link;
        }
        &Active {
          color: cl.$white;
          text-decoration: none;
          &:visited {
            @extend .nav-topLogo__linkActive;
          }
        }
      }
      &__text {
        &Active {
          color: cl.$white;
        }
      }
      &__dot {
        font-weight: bold;
        color: cl.$accentCl;
      }
    }
    &Menu {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-weight: 500;

      &__text {
        white-space: nowrap;
      }
      &__btn {
        color: cl.$white;
        padding: 0.625rem 1.25rem;
        border-radius: 5px;
        border: 1px solid cl.$white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: cl.$accentCl;
          border-color: cl.$accentCl;
        }
      }
    }
  }

  &-divider {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid cl.$sectionBg;
    border-bottom: 0.5px solid cl.$sectionBg;
    &Active {
      @include bk.mobile {
        margin-bottom: 1rem;
      }
      @include bk.tablet {
        margin-bottom: 1rem;
      }
      @include bk.desktop {
        margin-bottom: 1rem;
      }
      @include bk.bigScreen {
        margin-bottom: 1rem;
      }
      @include bk.wideScreen {
        margin-bottom: 1rem;
      }
    }
  }

  &-bttm {
    margin: 0 auto;
    width: 1400px;
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-between;
    color: cl.$white;
    font-weight: 300;
    &Active {
      @include bk.mobile {
        padding: 0rem 1.25rem;
        width: calc(100% - 2.5rem);
      }
      @include bk.tablet {
        padding: 0rem 2rem;
        width: calc(100% - 4rem);
      }
      @include bk.desktop {
        padding: 0rem 2rem;
        width: calc(100% - 4rem);
      }
      @include bk.bigScreen {
        padding: 0rem 3rem;
        width: calc(100% - 6rem);
      }
      @include bk.wideScreen {
        padding: 0rem 3rem;
        width: calc(100% - 6rem);
      }
    }
  }
}
