@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";

.partners {
  height: 6.25rem;
  display: flex;
  margin: auto;
  justify-content: center;
  @include bk.mobile {
    width: calc(100% - 2.5rem);
  }
  @include bk.tablet {
    width: calc(100% - 4rem);
  }
  @include bk.desktop {
    width: calc(100% - 4rem);
  }
  @include bk.bigScreen {
    width: calc(100% - 6rem);
  }
  @include bk.wideScreen {
    width: calc(100% - 6rem);
  }
  &-content {
    width: auto;
    display: flex;
    align-items: center;
    color: cl.$sectionBg;
    font-weight: 500;

    &__logo {
      height: 4rem;
      object-fit: contain;
    }
  }
}
