@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";
@use "./src/styles/variables" as var;

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 2rem 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  border-radius: 1rem;
  z-index: 999;
  top: 34rem;
  max-width: 95%;
  box-shadow: 7px 8px 18px rgba(0, 0, 0, 0.1);

  @include bk.mobile {
    padding: 1.35rem;
  }
  @include bk.tablet {
    top: 36rem;
  }
  @include bk.desktop {
    top: 37rem;
  }

  @include bk.bigScreen {
    top: 44rem;
  }

  @include bk.wideScreen {
    top: 47rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    @include bk.mobile {
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 0.5px;
    }
    &-field {
      padding: 8px 10px;
      margin-right: 10px;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s ease;
      width: -webkit-fill-available;
      &::placeholder {
        padding: 0;
      }
      &Box {
        width: 100%;
      }
      &:focus {
        border-color: cl.$accentCl;
      }
    }
    &-date {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-datepicker {
      padding: 12px;
      margin-right: 10px;
      border: 2px solid cl.$accentCl;
      border-radius: 25px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: cl.$accentCl;
      }
    }
  }

  &__button {
    padding: 10px 24px;
    background-color: cl.$accentCl;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #cba044;
    }
  }

  &-categories {
    &__txt {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      @include bk.mobile {
        padding: 0.5rem;
        font-size: 0.65rem;
      }
    }
    &__keyword {
      padding: 10px 20px;
      margin: 5px;
      background-color: #f0f0f0;
      color: #333;
      border: none;
      border-radius: 25px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      @include bk.mobile {
        padding: 0.5rem;
        font-size: 0.65rem;
      }
      &:hover {
        background-color: #ddd;
      }
    }
  }
}
.react-datepicker__input-container input {
  width: 6.5rem !important;
}
