@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";

.footer {
  display: flex;
  justify-content: center;
  color: #666;
  padding: 50px 0px;
  max-width: 1400px;
  margin: auto;
  &__img {
    width: 24px;
    height: 24px;
  }

  &-container {
    width: 1400px;
    width: 100%;
    @include bk.mobile {
      padding: 0rem 1.25rem;
      width: calc(100% - 2.5rem);
    }
    @include bk.tablet {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.desktop {
      padding: 0rem 2rem;
      width: calc(100% - 4rem);
    }
    @include bk.bigScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }
    @include bk.wideScreen {
      padding: 0rem 3rem;
      width: calc(100% - 6rem);
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;

    &Item {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      @include bk.mobile {
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(5) {
          display: none;
        }
      }

      @include bk.tablet {
        &:nth-child(5) {
          display: none;
        }
      }

      &__header {
        font-size: 1rem;
        color: cl.$darkGray;
      }

      span {
        font-weight: 300;
        cursor: pointer;
        &:hover {
          color: cl.$primaryCl;
        }
      }
    }
  }

  hr {
    margin: 3rem 0;
    height: 0;
    border: 1px solid #ebe9e9;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;

      span {
        font-size: 0.8125rem;
        white-space: nowrap;

        @include bk.mobile {
          &:nth-child(2) {
            display: none;
          }
        }

        @include bk.tablet {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 1.875rem;

      &__social {
        display: flex;
        gap: 1.25rem;
      }

      &__link {
        display: flex;
        align-items: center;
        gap: 0.625rem;

        @include bk.mobile {
          display: none;
        }

        @include bk.tablet {
          display: none;
        }
      }
    }
  }
}
