@use "./src/styles/_color" as cl;
@use "./src/styles/breakpoints" as bk;
@use "./src/styles/global";
@use "./src/styles/variables" as var;

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__breadcrumbs {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
  }
  &__title {
    @include bk.mobile {
      font-size: 1.5rem;
      width: 50%;
      max-width: 70%;
      min-width: 30%;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__pp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      height: 14px;
      width: 14px;
    }

    span {
      font-size: 14px;
      font-weight: bold;
      color: #ffc108;
    }
  }
}

h2 {
  font-weight: 400;
}

p {
  font-weight: 300;
  line-height: 25px;
  color: #555;
  @include bk.mobile {
  }
}
